:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00c0e5;
}

.main {
  width: 40vw;
  margin: 10rem auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#rainbow {
  width: 15rem;
  margin: auto;
}

h1,
h2,
h3,
p {
  color: #fff;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
  margin: 2rem auto 0.5rem;
}

p {
  font-size: 3rem;
}

img {
  width: 9rem;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

input,
button {
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: transparent;
}

input:focus,
button:focus {
  outline: none;
  border: 0.1rem solid #818181;
}

button {
  color: #303030;
  cursor: pointer;
}

#error {
  color: #303030;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}
